/* Top Bar Section */
.social-media-icons{
	background-color: green;
	height: 30px;
}
.search{
	background-color: yellow;
	height: 30px;
}

.main-menu ul li, .footer-menu ul li{ 
	display: inline; 
}
.post-categories{
	list-style: none;
}

/* Thumbnails */
.wp-post-image {
       float: left;
       margin: 0 15px 10px 0;
}

.blog article {
       display: inline-block;
}
