/* Top Bar Section */
.social-media-icons{
	background-color: green;
	height: 30px;
}
.search{
	background-color: yellow;
	height: 30px;
}

.main-menu ul li, .footer-menu ul li{ 
	display: inline; 
}
.post-categories{
	list-style: none;
}

