/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Oswald:400,900');
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
/* Roboto Slab */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html,body {
	width:100%;
	overflow-x:hidden;
}

body{ font: 16px/1.6 'Oswald', sans-serif;  }
body p{ font: 16px/1.6 'Lato', sans-serif; }
h1{ font-size: 28px; margin: 15px 0 15px; }
h2{ font-size: 24px; margin-top: 0; }
h3{ font-size: 20px; margin-top: 0; }
h4{ font-size: 18px; margin-top: 0; }


/* Top Bar Section */
.top-bar{ background: #b9121b; color: #fff; padding: 15px 0; }

/* Header - Main Menu */
.menu-area { 
	background: black; padding: 15px 0; 
}

/* Slider */
.slide{ padding: 25px 0; }

/* Services */
.services{ background: #4c1b1b; padding: 25px 0; color: #fefefe; }

/* Middle Area */
.middle-area{ padding: 25px 0; }
.middle-area h1{ color: #4c1b1b; text-transform: uppercase;  }

/* Middle Area - Sidebar */
.sidebar{ padding: 30px; margin: 0 0 30px;  background-color: lightgray; }

.main-menu ul{ list-style: none; padding: 0; margin: 0; font-size: 20px; }
.main-menu ul li{ display: inline;  margin: 0 30px 0 0; font-family: 'Roboto Slab', serif; }
.main-menu ul li:last-child{ margin: 0; }
.main-menu ul li a{ text-transform: uppercase; color:white; text-decoration: none; }
.main-menu ul  li.current-menu-item a{ color: lightskyblue; }

/* Footer */
footer{ background: #000; padding: 15px 0; color: #fcfae1; }

/* Footer - Footer Menu */
.footermenu ul{ list-style: none; padding: 0; margin: 0; font-size: 20px; }
.footermenu ul li{ display: inline;  margin: 0 15px 0 0;}
.footermenu ul li:last-child{ margin: 0; }
.footermenu ul li a{ color: #fcfae1;  text-decoration: none;}
.footermenu ul  li.current-menu-item a{ color:#e58888; }

/* Blog */
.wp-post-image{ float: left; margin: 0 15px 10px 0; }
.format-image h2 { padding: 15px; }
.format-video h2 { padding: 15px; }
.format-standard h2 { color: #444; padding: 15px; }
.blog article{ display: inline-block; margin: 0 0 30px; width: 100%; }
.blog article h2{ margin-bottom: 15px; }
.blog article p > img{ width: 100%; height: auto; display: block; }
.blog .meta-info p{ line-height: 1em; font-weight: bold; }
.blog .meta-info p > a{ color: #9d9d9d; font-weight: normal; }

